@model Nhb_Clientes.Models.Clientes

@{
    ViewData["Title"] = "Editar";
}

<h4>Editar Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone1" class="control-label"></label>
                <input asp-for="Telefone1" class="form-control" />
                <span asp-validation-for="Telefone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone2" class="control-label"></label>
                <input asp-for="Telefone2" class="form-control" />
                <span asp-validation-for="Telefone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone3" class="control-label"></label>
                <input asp-for="Telefone3" class="form-control" />
                <span asp-validation-for="Telefone3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoneValido" class="control-label"></label>
                <select asp-for="FoneValido" class="form-control" id="FoneValido">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="form-group">
                <input asp-for="Tel_Ativo" class="form-control" value="" id="Tel_Ativo" hidden />
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-outline-warning">Lista de Clientes</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#FoneValido').change(function (event) {
            let fone = event.currentTarget.value;

            let tel_1 = $('#Telefone1').val();
            let tel_2 = $('#Telefone2').val();
            let tel_3 = $('#Telefone3').val();

            switch (fone) {
                case "1":
                    {
                        $('#FoneValido').val("1");
                        $('#Tel_Ativo').val(tel_1);
                    }
                    break;
                case "2":
                    {
                        $('#FoneValido').val("2");
                        $('#Tel_Ativo').val(tel_2);
                    }
                    break;
                case "3":
                    {
                        $('#FoneValido').val("3");
                        $('#Tel_Ativo').val(tel_3);
                    }
                    break;
            }
        });
    });
</script>