@{
    ViewData["Title"] = "Informações";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>Projeto para cadastro de clientes, desenvolvido usando os recursos/tecnologias: </p>
<p>HTML, CSS, JQuery, ASP.NET MVC, NHibernate, SQL Server e Redis</p>
